body {
    display: flex;
    min-height: 100vh;
}

.header {
    background-color: #f0f2f5;
    height: 60px;
    position: relative;
    width: 100%;
}

.icon {
    width: 24px;
    height: 24px;
    position: absolute;
}

.left-side .header .icons {
    position: absolute;
    right: 20px;
    top: 18px;
    width: 128px;
    height: 40px;
    box-sizing: border-box;
}

.left-side .header .icons .icon:first-child {
    left: 0;
}

.left-side .header .icons .icon:nth-child(2) {
    right: 51px;
}

.left-side .header .icons .icon:last-child {
    right: 0;
}

.left-side {
    border-right: 1px solid lightgrey;
    display: flex;
    height: 100%;
    width: 30%;
}

.right-side {
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url("../img/bg.png");
    display: flex;
    width: 70%;
}

.right-side .header .icons {
    position: absolute;
    right: 20px;
    top: 18px;
    width: 70px;
    height: 40px;
    box-sizing: border-box;
    margin-right: 2px;

}

.right-side .header .icons .icon:first-child {
    left: 0;
}
.right-side .header .icons .icon:last-child {
    right: 0;
}

.input {
    background-color: #f0f2f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 69.98%;
}